{% extends "baseemp.html" %}

{% block content %}


<h1>{{leave.user}}</h1>
<hr>
<form action="{% url 'apply-leave' %}" method="post">
{% csrf_token %}
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            {{form.date}}
        </div>
        <div class="mb-3">
            <label for="approved" class="form-label">Reason:</label>
            {{form.reason}}
        </div>
<button class="my-1 btn btn-primary text-center" type="submit">Add</button>
</form>

{% endblock content %}