{% extends "baseemp.html" %}

{% block content %}
{% if leaves %}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" > 
<a href="{% url 'apply-leave'%}"class="btn btn-primary m-2 float-end"> <i class="fa fa-solid fa-plus"></i>Apply</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Date</th>
      <th scope="col">Reason</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for leave in leaves %}
    <tr>
      <th scope="row">{{leave.user.id}}</th>
      {% comment %} <td scope="row"><a href="{% url 'leave' leave.id %}">{{leave.date}}</a></td> {% endcomment %}
      <td>{{leave.date}}</td>
      <td>{{leave.reason}}</td>
      <td>{{leave.approved}}</td>
    </tr>

{% endfor %}


<nav  class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="page-item active"><a href="?page=1">&laquo; first</a></a>
            <a class="page-item active"><a href="?page={{ page_obj.previous_page_number }}">previous</a></a>
        {% endif %}

        <span class="page-item active current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</nav>

  </tbody>
</table>
</div>
{% else %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" > 
<a href="{% url 'apply-leave'%}"class="btn btn-primary m-2 float-end"> <i class="fa fa-solid fa-plus"></i> Apply</a>

<h1>No leaves here!</h1>
</div>
{% endif %}

{% endblock content %}